{% load static %}

<!DOCTYPE html>
<html>

<!--<link rel="stylesheet" href="{% static 'myfirst.css' %}">-->
<link rel="stylesheet" href="{% static 'myglobal.css' %}">

<body>

<!--{% for x in colors %}-->
<!--<h1>{{ x }}</h1>-->
<!--{% endfor %}-->

<!--<h1>Hello {{ firstname }}, how are you?</h1>-->

<!--{% with firstname="Tobias" %}-->
<!--<h1>Hello {{ firstname }}, how are you?</h1>-->
<!--{% endwith %}-->

<!--<ul>-->
<!--    {% for x in mymembers %}-->
<!--    <li>{{ x.firstname }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<!--{% if greeting == 1 %}-->
<!--  <h1>Hello</h1>-->
<!--{% else %}-->
<!--  <h1>Bye</h1>-->
<!--{% endif %}-->

<!--{% if x == y %}-->
<!--  <h1>YES</h1>-->
<!--{% else %}-->
<!--  <h1>NO</h1>-->
<!--{% endif %}-->

<!--{% with var1=x var2=x %}-->
<!--  {% if var1 is var2 %}-->
<!--    <h1>YES</h1>-->
<!--  {% else %}-->
<!--    <h1>NO</h1>-->
<!--  {% endif %}-->
<!--{% endwith %}-->

<!--{% if x is not y %}-->
<!--  <h1>YES</h1>-->
<!--{% else %}-->
<!--  <h1>NO</h1>-->
<!--{% endif %}-->

<!--{% for x in colors %}-->
<!--  <h1>{{ x }}</h1>-->
<!--{% endfor %}-->

<!--{% for x in members %}-->
<!--  <h1>{{ x.id }}</h1>-->
<!--  <p>-->
<!--    {{ x.firstname }}-->
<!--    {{ x.lastname }}-->
<!--  </p>-->
<!--{% endfor %}-->

<!--<ul>-->
<!--  {% for x in emptytestobject %}-->
<!--    <li>{{ x.firstname }}</li>-->
<!--  {% empty %}-->
<!--    <li>No members</li>-->
<!--  {% endfor %}-->
<!--</ul>-->

<!--<ul>-->
<!--    {% for x in fruits %}-->
<!--    <li-->
<!--            {% if forloop.first %}-->
<!--            style='background-color:lightblue;'-->
<!--            {% endif %}-->
<!--    >{{ x }}-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--</ul>-->


<!--<h1>Welcome Everyone</h1>-->
<!--{% comment %}-->
<!--  <h1>Welcome ladies and gentlemen</h1>-->
<!--{% endcomment %}-->

<!--<h1>Welcome Everyone</h1>-->
<!--{% comment "this was the original welcome message" %}-->
<!--<h1>Welcome ladies and gentlemen</h1>-->
<!--{% endcomment %}-->

<!--<h1>Welcome{# Everyone#}</h1>-->

<!--{% include 'header.html' with me='Python Programming' sponsor='PROGRAM LOVER' %}-->

<!--<h1>Hello</h1>-->

<!--<p>Dear friends.</p>-->

<!--{% include 'footer.html' %}-->



<table border='1'>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in mymembers %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>